/* quesiton 1 */

.links a{
    color: blue;
}
.links a:hover{
    color: red;
}

links a:active{
    color: green;
}


/* question 2 */

.title-tag{
    font-family: Arial, Helvetica, sans-serif;
}
.title-tag h1{
    text-shadow: 2px 2px rgb(142, 140, 140);
}

.title-tag p{
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
}

/* question 3 */

.card {
    border: 1px solid grey;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
}

/* questoin 4 */

.nav-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.nav-items a{
    text-decoration: none;
}

/* question 5 */

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    max-width: 620px;

}

.gallery img{
    width: 300px;
    height: 200px;
}

@media(max-width: 600px) {
    .gallery{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* questoin 6 */

#bttn{
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
#bttn:hover{
    background-color: darkblue;
    transition: background-color 0.3s ease;
}

/* question 7 */

#bttn2{
    width: 150px;
    height: 50px;
    margin: 20px;
    transition: transform 0.5s ease;
}

#bttn2:hover{
    transform: scale(1.2);
}

/* question 14 */

.select p::selection{
    background-color: yellowgreen;
}