/* quesiton 1 */

.links a{
    color: blue;
}
.links a:hover{
    color: red;
}

links a:active{
    color: green;
}


/* question 2 */

.title-tag{
    font-family: Arial, Helvetica, sans-serif;
}
.title-tag h1{
    text-shadow: 2px 2px rgb(142, 140, 140);
}

.title-tag p{
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
}

/* question 3 */

.card {
    border: 1px solid grey;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
}